@import 'ember-power-select';

@mixin smoothScrolling() {
  -webkit-overflow-scrolling: touch; // DO NOT REMOVE
  overflow: auto;
}

.power-select-mobile--open {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  .power-select-mobile__trigger {
    flex: none;
    & + div {
      display: flex;
      flex: auto;
      flex-direction: column;
    }
  }
  .power-select-mobile__dropdown {
    flex: auto;
    position: relative; //override absolute position from ember-basic-dropdown-content
    display: flex;
    flex-direction: column;
    .ember-power-select-search {
      flex: none;
    }
    .ember-power-select-options[role="listbox"] {
      flex: auto;
      max-height: none;
      @include smoothScrolling();
    }
  }
}

.ps__head {
  background: red;
  display: flex;
  .ps__head__title {
    flex: auto;
  }
}
