<div class="ps__head" data-test-id="ember-power-select-mobile-nav">
  <h1 class="ps__head__title t-mobile-filter-title" data-test-id="ember-power-select-mobile-nav--title">Select</h1>
  <button class="ps__head__btn mobile-btn ps__head--action" {{action done}} data-test-id="ember-power-select-mobile-nav--done">Done</button>
</div>
