<div class="ps__head">
  <button class="ps__head__btn mobile-btn" {{action "cancel"}}>Cancel</button>
  <h1 class="ps__head__title t-mobile-filter-title">Power select mobile</h1>
  <button class="ps__head__btn mobile-btn ps__head--action" {{action "done"}}>Done</button>
</div>
