<div class="ps__head" data-test-id="ember-power-select-mobile-nav">
  <div class="spacer">
    <button class="ps__head__btn mobile-btn chevron left {{if buttonText 'has-text'}}" {{action "done"}} data-test-id="ember-power-select-mobile-nav--done">{{buttonText}}</button>
  </div>
  <h1 class="ps__head__title t-mobile-filter-title" data-test-id="ember-power-select-mobile-nav--title">{{labelText}}</h1>
  <div class="spacer"></div>
</div>
