<div class="ps-mobile-nav-wrapper">
  <header class="ps-mobile-header">
    <div class="ps__head" data-test-id="ember-power-select-mobile-nav">
      <button class="ps__head__btn mobile-btn chevron left" {{action "done"}} data-test-id="ember-power-select-mobile-nav--done">{{buttonText}}</button>
      <h1 class="ps__head__title t-mobile-filter-title" data-test-id="ember-power-select-mobile-nav--title">{{labelText}}</h1>
    </div>
  </header>
</div>
