<h1>Big Sky Technologies - San Diego, CA</h1>

<h3> Single </h3>
<!-- single / nav component provided -->
{{#power-select-mobile 
  renderInPlace=true 
  options=numbers 
  mustFallback="mobile"
  selected=number 
  className="t-single"
  mobileTagName="div"
  onchange=(action (mut number)) as |num|}}
  {{num}}
{{/power-select-mobile}}

<h3> Multiple </h3>
<!-- multiple / no nav component provided -->
{{#power-select-mobile 
  multiple=true 
  renderInPlace=true 
  options=numbers 
  mustFallback="mobile" 
  selected=numbero
  className="t-multi"
  mobileTagName="div"
  onchange=(action (mut numbero)) as |num|}}
  {{num}}
{{/power-select-mobile}}
