<h1>SCOTT</h1>

<!-- single / nav component provided -->
{{#power-select-mobile 
  renderInPlace=true 
  navMobileComponent="nav-mobile" 
  options=numbers 
  mustFallback="mobile"
  selected=number 
  className="t-single"
  mobileTagName="div"
  onchange=(action (mut number)) as |num|}}
  {{num}}
{{/power-select-mobile}}

<!-- multiple / no nav component provided -->
{{#power-select-mobile 
  multiple=true 
  renderInPlace=true 
  options=multi_numbers 
  mustFallback="mobile" 
  selected=number 
  className="t-multi"
  mobileTagName="div"
  onchange=(action (mut number)) as |num|}}
  {{num}}
{{/power-select-mobile}}
